@using OdeToFood.Controllers
@model OdeToFood.Entities.Restaurant

<h1>
    @Model.Name
</h1>

<div>
    id:  @Model.ID
</div>

<div>
    Cuisine: @Model.Cuisine
</div>

@Html.ActionLink("Home", nameof(HomeController.Index))
