@model OdeToFood.Models.Home.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home View </title>
</head>
<body>
    Name of restautant is <h1>@Model.Name</h1>
    
    </body>
</html>